<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
  <div class="mobile-fix-option"></div>
  <div class="top-header" *ngIf="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>
              <li>Bienvenidos a SeeDPay</li>
              <!-- <li><i class="fa fa-phone" aria-hidden="true"></i>tel: 123 - 456 - 7890</li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">
            <li class="compare">
              <!-- <a [routerLink]="['/shop/compare']"><i class="fa fa-random" aria-hidden="true"></i>Compare</a> -->
            </li>

            <li *ngIf="usuario" class="onhover-dropdown mobile-account">
              <i class="fa fa-user" aria-hidden="true"></i> {{usuario.email}}
              <ul class="onhover-show-div">
                <li>
                  <a data-lng="en" [routerLink]="['dashboard/default']">
                    Cuenta
                  </a>
                </li>
                <li>
                  <a data-lng="en" (click)="logout()">
                    Salir
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="!usuario" class="mobile-wishlist">
              <a data-lng="en" [routerLink]="['/login']">
                Ingresar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <!-- <app-left-menu></app-left-menu> -->
            <div class="brand-logo">
              <a routerLink="/inicio" id="headerlogo">
                <img [src]="themeLogo" class="img-fluid" alt="logo">
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-menu></app-menu>
            </div>
            <div>
              <app-settings></app-settings>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
