
<app-breadcrumb [title]="'Productos'" [breadcrumb]="'productos / '+palabra"></app-breadcrumb>

<div *ngIf="negocios.length > 0" style="background-color: aliceblue;">
    <ng-container  *ngFor="let negocio of negocios | slice:0:7">



        <app-product-slider *ngIf="negocio.productos.length > 1" [nombreNegocio]="negocio.nombre"
                            [idNegocio]="negocio.id"
                            [imgNegocio]="negocio.imagen_64"
                            [products]="negocio.productos">
        </app-product-slider>

    </ng-container>
</div>
<div *ngIf="negocios.length < 1" class="row justify-content-center">
  <img class="col-6 align-self-center img-fluid" src="assets/images/product-not-found.png" alt="">
</div >

