
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3555a;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5464c;
}

.btn-detail{
  margin: 5px; display: flex; justify-content: center;max-width: 50px;
}
.btn-show{
  color: #81BA00;
}

.btn-delete{
  color: #920000;
}

.btn-edit{
  color: #FFBC58;
}

.imgProductDetail{
  max-width: 75px;
}

.qrcode{
  border: 1px solid rgb(189, 189, 189);
  border-radius: 20px;
}
.infoNego{
  margin-top: 20px;
}
.imgNegoHeader{
  max-width: 80px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50%;
  padding: 2px;
}

.headerTitleDetailModal{
  margin: 20px 0;
}
