<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Mis Negocios</h5>
        </div>
        <div class="card-body">
          <div class="custom-datatable">
            <button class="btn btn-outline-primary mr-1 mb-3" [routerLink]="['/negocios/negocio']"
              style="display: flex; float: right; align-items: center">
              <app-feather-icons [icon]="'save'"></app-feather-icons> Agregar
            </button>
            <div class="clearfix"></div>
            <ngx-datatable class="bootstrap" [rows]="lista_negocios" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
              <ngx-datatable-column name="">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <img src="{{row.imagen_64}}" alt="" class="img-fluid" style="max-height: 60px;">
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column prop="nombre" name="Nombre"></ngx-datatable-column>
              <ngx-datatable-column prop="direccion" name="Dirección"></ngx-datatable-column>
              <ngx-datatable-column prop="descripcion" name="Descripción"></ngx-datatable-column>
              <ngx-datatable-column prop="fecha_creacion" name="Fecha de creación"></ngx-datatable-column>
              <ngx-datatable-column name="Acciones">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div style="display: flex; align-items: center; justify-content: start;">
                    <a class="btn-detail btn-edit" [routerLink]="['/negocios/negocio', {id:row.id}]">
                      <app-feather-icons [icon]="'edit'"></app-feather-icons>
                    </a>
                    <a class="btn-detail btn-delete" (click)="eliminarNegocio(row.id)">
                      <app-feather-icons [icon]="'trash-2'"></app-feather-icons>
                    </a>
                    <a class="btn-detail btn-show" (click)="openDetail($event, content, row)">
                      <app-feather-icons [icon]="'eye'"></app-feather-icons>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->



<!-- Dialog detail negocio-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header modal-title">
    <div class="row headerTitleDetailModal">
      <img src="{{negocioDetail.imagen_64}}" class="col img-fluid imgNegoHeader" alt="{{negocioDetail.nombre}}">
      <h4 class="modal-title col align-self-center" id="modal-basic-title">{{negocioDetail.nombre}}</h4>
    </div>

    <button style="color: brown;" type="button" class="btn" (click)="d('Cross click')" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
      </svg></button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center infoNego">
      <div class="col-3 qrcode"><img src="{{qrNegocio + negocioDetail.id + '/'}}" alt="qr_code" class="img-fluid"></div>
      <div class="col-8">
        <div class="row">
          <div class="col-5"><h3>Descripcion :</h3></div>
          <div class="col-7"><p>
            {{negocioDetail.descripcion}}
          </p></div>
        </div>
        <div class="row">
          <div class="col-5"><h3>Telefono :</h3></div>
          <div class="col-7"><h5>
            {{negocioDetail.telefono}}
          </h5></div>
        </div>
        <div class="row">
          <div class="col-5"><h3>Direccion :</h3></div>
          <div class="col-7">{{negocioDetail.direccion}}</div>
        </div>
        <div class="row">
          <div class="col-5"><h3>Correo :</h3></div>
          <div class="col-7">{{negocioDetail.correo}}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">

        <div class="col-10">
          <div class="user-status table-responsive products-table">
            <table class="table table-bordernone mb-0 ">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Publico</th>
                  <th scope="col">Stock</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productAux of productosDetail; let idxNegocio = index" [routerLink]="['/productos/producto', {id:productAux.id} ]" aria-label="Close" (click)="d('Cross click')" >
                  <td><img class="img-fluid imgNegocioDash imgProductDetail" src="{{productAux.imagen_64}}" alt=""></td>
                  <td class="font-primary"><strong>{{productAux.nombre}}</strong></td>
                  <td class="digits">$ {{productAux.precio}}</td>
                  <td class="">{{productAux.descripcion}}</td>
                  <td class="font-success" *ngIf="productAux.disponible">Publico</td>
                  <td class="font-primary" *ngIf="!productAux.disponible">Oculto</td>
                  <td class="digits">{{productAux.stock}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
