.tituloNegocio{
    max-height: 80px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom: 10px;
    h2{
        color: rgb(63, 63, 63);
    }

}
.itemsabajo{
    display: flex;
    align-items: flex-end;
}
.imgresponsive{
    display: flex;
    width: 75px;
    height: 75px;
    border-radius:50px;
    background-color: rgba(146, 146, 146, 0.5);
    align-items: center;
    text-align: center;

}
.verTodos{
    padding-top: 5px;
    font-weight: 800;
    color: rgb(100,227,166);
}

.negocioMinicatalogo{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(160, 160, 160);
    box-shadow: 5px 5px 15px rgba(56, 39, 39, 0.6);
    background-color: white;
}
