<!-- Product slider start-->
<div class="negocioMinicatalogo">
  <div class="section-t-space">
    <div class="row tituloNegocio">

      <div class="col-auto ">
        <a [routerLink]="['/catalogo/']" (click)="guardarNegocioCatalogo()">
          <img class="imgresponsive" [lazyLoad]="imgNegocio" >
        </a>
      </div>
      <div class="col-10 itemsabajo"><br>
        <div class="row">
          <div class="col-auto itemsabajo">
            <a [routerLink]="['/catalogo/']" (click)="guardarNegocioCatalogo()">
              <h2 class="tituloNegocio">{{nombreNegocio}}</h2><br>
            </a>
          </div>
          <div class="col-auto">
            <a [routerLink]="['/catalogo/']" (click)="guardarNegocioCatalogo()">
              <h4 class="verTodos">Ver todos</h4>
            </a>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <section class="section-b-space p-t-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
            <ng-container *ngFor="let product of products | slice:0:15">
              <ng-template carouselSlide>
                <div class="product-box">
                  <app-product-box-one [product]="product" [thumbnail]="true" [cartModal]="false" [loader]="false">
                  </app-product-box-one>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Product slider End -->
