<!--footer section -->
<footer [class]="class">
  <div class="light-layout" *ngIf="newsletter">
    <div class="container">
      <section class="small-section border-section border-top-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="subscribe">
              <div>
                <h4>RECIBE INFORMACION ACTUALIZADA!</h4>
                <p>Te enviamos noticias sobre las ultimas promociones. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="form-inline subscribe-form"
              action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"
              target="_blank" method="post">
              <div class="form-group mx-sm-3">
                <input type="email" #name name="EMAIL" id="mce-EMAIL" class="form-control"
                  placeholder="Ingrasa tu email">
              </div>
              <button type="submit" class="btn btn-solid">suscribete</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h4>Quienes somos</h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo">
              <img [src]="themeLogo" alt="logo">
            </div>
            <p>Somos un una empresa formada por estudiantes universitarios que vireon la oportunidad de emprender  y quisieron llevarse a los demas emprendedores.</p>
            <div class="footer-social">
              <ul>
                <li>
                  <a href="https://seedcharlie.co/" target="_blank"><i class="fa fa-facebook"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://seedcharlie.co/" target="_blank"><i class="fa fa-google-plus"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://seedcharlie.co/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://seedcharlie.co/" target="_blank"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://seedcharlie.co/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <div class="footer-title">
              <h4>Te ayudamos</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="javascript:void(0)">Modulo de ventas</a></li>
                <li><a href="javascript:void(0)">Modulo de domicilios</a></li>
                <li><a href="javascript:void(0)">Metricas sobre tus ventas</a></li>
                <li><a href="javascript:void(0)">Transacciones seguras</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>Enlaces de Interes</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a [routerLink]="['/pqrsf']">PQRSF</a></li>
                <li><a [routerLink]="['/politicas']">Politicas de Tratamiento de datos</a></li>
                <li><a [routerLink]="['/politicas']">Terminos y Condiciones de Uso</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <div class="footer-title">
              <h4>informacion</h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-list">
                <li><i class="fa fa-map-marker"></i>Cra 41e2 #52-37. Ciudad Coordoba</li>
                <li><i class="fa fa-phone"></i>Tel: +57 3172344560</li>
                <li><i class="fa fa-envelope-o"></i>Email: <a>info@seedpay.co</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="footer-end">
            <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ today | date:'y'}} Desarrollado por seedpay</p>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="payment-card-bottom">
            <ul>
              <li>
                <a><img src="assets/images/icon/visa.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/mastercard.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/paypal.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/american-express.png" alt=""></a>
              </li>
              <li>
                <a><img src="assets/images/icon/discover.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer section end -->
