<app-breadcrumb [title]="'Nosotros'" [breadcrumb]="'quienes somos'"></app-breadcrumb>
<!-- about section start -->
<section class="about-page  section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img  src="assets/images/icon/logo-14.png" class="img-fluid" alt="about-us"/>
                </div>
            </div>
            <div class="col-sm-12">
                <h4>SeeDPay es una aplicacion hecha para servir</h4>
                <p>SeeDPay quiere apoyar a los empredendores nacientes en sus ventas de manera forma por medio de una plataforma web que es visible para el publico, de esta
                  forma los emprendedores seran reconocidos en la web y podran comercializar sus productos por medio de esta plataforma
                </p>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->


