<app-breadcrumb [title]="negocio.nombre" [breadcrumb]="'Negocio'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">

                                    <div class="img-header">
                                      <img src="{{negocio.imagen_64}}" class="img-negocio" alt="{{negocio.imagen_64}}">
                                    </div>

                                    <div class="top-banner-content small-section">
                                        <h4>{{negocio.nombre}}</h4>
                                        <p>
                                            {{negocio.descripcion}}
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper" id="products">
                                    <app-grid
                                        [products]="products"
                                        [paginate]="paginate"
                                        [layoutView]="layoutView"
                                        [sortBy]="sortBy"
                                        (setGrid)="updateGridLayout($event)"
                                        (setLayout)="updateLayoutView($event)"
                                        (sortedBy)="sortByFilter($event)">
                                    </app-grid>
                                    <div class="product-wrapper-grid" [ngClass]="layoutView">
                                        <div class="row">
                                            <div class="col-grid-box"
                                                [ngClass]="grid"
                                                *ngFor="let product of products">
                                                <div class="product-box">
                                                    <app-product-box-one
                                                        [product]="product"
                                                        [currency]="productService?.Currency"
                                                        [thumbnail]="false"
                                                        [cartModal]="true"
                                                        [loader]="true">
                                                    </app-product-box-one>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <app-pagination
                                        [products]="products"
                                        [paginate]="paginate"
                                        (setPage)="setPage($event)">
                                    </app-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->
