<div *ngIf="!loader" class="productoMini">
  <div class="img-wrapper">
    <div class="lable-block">
      <span class="lable3" >new</span>
      <!-- <span class="lable4" *ngIf="product.sale">on sale</span> -->
    </div>
    <div class="front">
        <a [routerLink]="['/producto', product.id]" >

          <img
          [lazyLoad]="product.imagen_64"
          class="img-fluid  maxwith"
          alt="{{ product.imagen_64 }}" />
        </a>



    </div>
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Add to cart" (click)="CartModal.openModal(product)"
        *ngIf="cartModal">
        <i class="ti-shopping-cart"></i>
      </a>
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)"
        *ngIf="!cartModal">
        <i class="ti-shopping-cart"></i>
      </a>

       <a href="javascript:void(0)" title="Add to Wishlist" > <!--(click)="addToWishlist(product)" -->
        <i class="ti-heart" aria-hidden="true"></i>
      </a>

    </div>
  </div>
  <div class="product-detail">
    <div>
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
      <a [routerLink]="['/shop/product/left/sidebar/', product?.nombre.replace(' ', '-')]">
        <h6>{{ product?.nombre | titlecase }}</h6>
      </a>
      <p>{{ product?.descripcion }}</p>
      <h4>
        $ {{ product?.precio  }}
      </h4>

    </div>
  </div>
</div>

<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>
