<app-breadcrumb [title]="'politicas, terminos y condiciones'" [breadcrumb]="'politicas, terminos y condiciones'"></app-breadcrumb>


<section class="section-b-space">

  <div class="container">
    <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-primary" (click)="change(false)" >Politicas de Tratamiento de Datos</button> <br><br>
        <button class="btn btn-outline-primary" (click)="change(true)" >Terminos y condiciones de Uso de la Pagina web</button>
      </div>
      <div *ngIf="terminos_politicas" class="col-9 textterminospoliticas">
        <h1 class="font-primary">Términos y condiciones de uso del sitio web</h1>
        <p>
          El Sitio www.seedpay.com, (en adelante “El Sitio”), es constituido bajo las leyes colombianas, cuya actividad
          principal es permitir la exhibición y comercialización de productos para la adquisición de los consumidores,
          (en
          adelante “Los Usuarios”) El Sitio es controlado y operado por Carlos Castillo., en adelante. (“seedpay”),
          Sociedad Comercial domiciliada en la República de Colombia. Los Usuarios de El Sitio, declaran conocer y
          aceptar
          los presentes términos y condiciones, y entienden que todas las actividades que realicen dentro de El Sitio
          deberán sujetarse a lo establecido en el presente documento. Quién no acepte los términos y condiciones deberá
          abstenerse de utilizar o realizar cualquier acto dentro de El Sitio pues es claro que los presentes son de
          carácter obligatorio y vinculante. Se rige por los siguientes Términos y Condiciones: 1. Propiedad intelectual
          e
          industrial Carlos Castillo. mantiene este sitio web para el entretenimiento, información y educación de sus
          usuarios. Las marcas, nombres comerciales, enseñas, gráficos, dibujos, diseños y cualquier otra figura que
          constituya propiedad intelectual o industrial y que aparezca en este sitio web, están protegidos a favor de
          seedpay , de conformidad con las disposiciones legales sobre la materia. En consecuencia, los elementos
          aquí
          referidos no podrán ser utilizados, modificados, copiados, reproducidos, transmitidos o distribuidos de
          ninguna
          manera y por ningún medio, salvo autorización previa, escrita y expresa de Carlos Castillo. Los contenidos
          protegidos de conformidad con el párrafo anterior, incluyen textos, imágenes, ilustraciones, dibujos, diseños,
          software, música, sonido, fotografías y videos, además de cualesquier otros medios o formas de difusión de
          dichos contenidos. Mediante la permisión de ingreso de los usuarios a su página web, Carlos Castillo. no está
          concediendo ninguna licencia o autorización de uso de ninguna clase sobre sus derechos de propiedad
          intelectual
          e industrial o sobre cualquier otra propiedad o derecho relacionado con su sitio web y/o los contenidos de
          éste.
          Las ideas, opiniones, sugerencias y comentarios que sean enviados por los usuarios a la página web, en forma
          espontánea y sin previa solicitud de Carlos Castillo. relativa a productos, servicios o planes de mercadeo, o
          de
          cualquier otro tipo, serán usados libremente por Carlos Castillo. si ésta así lo estiman conveniente, para el
          desarrollo de nuevos productos, inversiones, negocios o planes de mercadeo. Lo anterior, bajo el entendimiento
          de que tales comunicaciones no son confidenciales y no están protegidas por ninguna regulación atinente a
          temas
          de propiedad intelectual o industrial. Por ende, el usuario remitente de tal información no podrá reclamar
          indemnización o participación alguna en razón del uso que Carlos Castillo. dé a la misma. En este orden de
          ideas, se destaca que la información aquí referida podrá ser copiada, distribuida, y revelada por seedpay
           con fines comerciales o extracomerciales. Se prohíbe la publicación en esta página web de informaciones
          difamatorias, amenazantes o con contenidos que vayan contra la ley. 2. Exclusiones de responsabilidad
          seedpay
           selecciona cuidadosamente los vínculos (“links”) con otros sitios de la Internet, a los que se tiene
          acceso a través de su sitio web, pero no se hacen responsables del contenido ni de los aspectos técnicos de
          ellos, ni los controlan o pueden controlar, máxime si se tiene en cuenta que tales contenidos varían de tiempo
          en tiempo. Lo anterior, en la medida en que una vez se ingrese al sitio vinculado, se entiende que el usuario
          abandonó la página de Carlos Castillo. Carlos Castillo. establece las siguientes prohibiciones, dentro de una
          política de correcto uso de las herramientas de chat y foros, para evitar que se pueda ver perjudicada la
          imagen
          de Carlos Castillo., de los usuarios de sus sitios web o de terceros. Se prohíbe:
          El uso de los sitios web, sus contenidos, elementos técnicos y aplicativos con propósitos ilegales.
          Violar, destruir, modificar o utilizar información de terceros sin la debida autorización del propietario de
          la
          información.
          Utilizar el nombre de Carlos Castillo. o utilizar las plataformas tecnológicas suministradas por ella para
          distribuir mensajes comerciales o correos no solicitados (Spam).
          Utilizar el nombre de Carlos Castillo. o utilizar las plataformas tecnológicas suministradas por ella para
          transmitir o divulgar pornografía, pornografía infantil, material racista, amenazas de cualquier índole,
          maltrato verbal que atente contra la integridad moral de las personas o cualquier otra manifestación que viole
          la legislación colombiana vigente.
          Cargar en El Sitio web de Carlos Castillo. archivos que puedan atentar contra la información contenida en los
          mencionados sitios, los equipos (computadores) o la propiedad de terceros, tales como virus en general,
          caballos
          de Troya y gusanos, entre otros. Tampoco está permitida cualquier conducta que genere o pueda generar, entre
          otros pero sin limitarse a, errores, daños, interrupciones o suspensión del funcionamiento de El Sitio.
          El intento de acceso a áreas restringidas y/o la suplantación de otro usuario o de cualquier tercero.
          El manejo de la información y toda la plataforma web también está a cargo de DDB S.A., Pragma S.A. y seedpay
           no se obligan a la supervisión de los servicios de comunicación suministrados en sus sitios, tales como
          chats y foros; sin embargo, podrá hacerlo en cualquier momento, reservándose el derecho de eliminar cualquier
          material que considere inadecuado. La disponibilidad de los sitios y medios de comunicación no obliga
          seedpay
           a tenerlos activos en todo momento. De igual manera Carlos Castillo. se reserva el derecho de admisión
          de
          cualquier persona, y a suspender el servicio sin previo aviso sea cual fuere la razón. Carlos Castillo. acata
          la
          normatividad colombiana vigente y por ende se reservan el derecho de revelar cualquier información que
          considere
          contraproducente, sin embargo, sí revelará cualquier información que sea solicitada por las autoridades
          competentes. 3. Comercio electrónico El presente documento tiene como objetivo describir los términos y
          condiciones que rigen el uso que cualquier persona le dé a la plataforma digital de comercio electrónico
          www.seedpay.com operado por Carlos Castillo. Sociedad identificada con NIT 811.014.994-9, con domicilio
          principal la carrera 52 No. 2-38 en la ciudad de Medellín-Colombia y representada legalmente por el señor
          Pedro
          Alfonso Blanco, identificado con cedula de ciudadanía No. 18.915.697 (en adelante la Compañía) así como el
          acceso y registro en al mismo. La actividad principal de El Sitio, consiste en la muestra o exhibición y
          comercialización de productos para su compra en línea por los consumidores, mayores de edad, ubicados en la
          República de Colombia (en adelante los Usuarios). El Sitio se rige bajo las leyes de la República de Colombia.
          El contrato entre El Usuario y Carlos Castillo. iniciará en el momento en que se apruebe la compra por parte
          de
          la Compañía. Los servicios ofrecidos a través de El Sitio de Carlos Castillo. sólo están disponibles para los
          Usuarios que según la legislación colombiana vigente esté en capacidad legal de contratar; deben abstenerse
          los
          usuarios que no la tengan.
          DEFINICIONES

          Portal o Plataforma: Aplicativo web y móvil administrado por Carlos Castillo. en el que se ofertan distintos
          productos, los cuales describen sus características para ser observados a través de la página por los usuarios
          de la página web que han aceptado los términos y condiciones.
          Usuarios de la página web: Son aquellas personas que ingresan a la página web, para observar aquellos
          productos
          que se encuentra ofertando por la marca seedpay, a través del portal o plataforma.
          Consumidores o clientes: Toda persona, residente en Colombia, mayor de edad, con capacidad legal, que desee
          satisfacer su necesidad de nutrición celebrando con Carlos Castillo. un contrato de compraventa a través del
          portal o plataforma. Para todos los efectos el consumidor podrá adquirir los productos ofertados en la página
          web en los diferentes puntos de venta del país.
          Medios de pagos: Es la modalidad elegida por el cliente para realizar el pago de las transacciones que se
          lleguen a generar dentro del portal. Este puede ser a través de la pasarela de pagos o puntos de pago efecty y
          baloto según lo determine el consumidor.
          Pasarela de pagos: Servicio que permite la realización de pagos por parte de los Consumidores directamente a

          seedpay  , a través de medios electrónicos utilizando plataformas tecnológicas (software).
          Perfeccionamiento del contrato de compraventa: Para todos los efectos legales, se entenderá que quedará
          perfeccionado el contrato de compraventa cuando el portal defina que el pago haya sido exitoso, aun así, se
          haya
          elegido el pago en puntos Efecty o Baloto.
          Entendidas las anteriores definiciones, se indicarán los procedimientos para que un consumidor pueda celebrar
          válidamente la compraventa de los bienes y servicios adquiridos a través del portal o plataforma: I. REGISTRO:
          Para proceder a realizar una compra, el usuario entiende y acepta que debe suministrar los datos personales:
          Nombre, Apellido, No de documento, País, Departamento, Cuidad, Dirección, Correo electrónico, que corresponden
          a
          información verdadera, verificable y actual, requeridos por el portal, con fines de uso y tratamiento
          comercial,
          estadísticos y promocionales, los cuales procede la actualización cada vez que se requiera. Mantener la
          confidencialidad de la cuenta es responsabilidad del Usuario, por tal razón es el usuario quien asume la
          responsabilidad de todas las operaciones que se realicen en la página web a través de su cuenta. El usuario es
          responsable de realizar la conexión desde sitios seguros. Los precios, productos y promociones de El Sitio,
          podrán aplicar en otros canales de venta y/o tiendas físicas; y serán potestad exclusiva de Carlos Castillo.
          asignarlos y/o modificarlos en cualquier momento. Todo usuario de El Sitio que desee hacer uso del mismo,
          deberá
          diligenciar un formulario de registro en el cual deberá suministrar su información personal de manera exacta,
          precisa y verdadera, así como aceptar los términos y condiciones de El Sitio y la autorización para el
          tratamiento de sus datos; los Usuarios responderán por la veracidad de la información registrada. La compañía
          se
          reserva el derecho de estudiar la solicitud de compra presentada por el Usuario y tendrá la facultad de
          verificar los datos comunicados por cada uno de estos. En caso de encontrarse alguna inconsistencia en la
          información del Usuario al momento de la inscripción o si omite notificar algún cambio, la Compañía podrá
          proceder la terminación inmediata de la cuenta del Usuario en cuestión, así como con la cancelación del
          pedido,
          si se ha hecho alguno. En caso de que el Usuario tuviere algún monto pendiente, éste deberá ser pagado en su
          totalidad antes de proceder con el cierre de la cuenta. II. PRODUCTOS: Carlos Castillo. no garantizan que los
          colores y demás especificaciones que se ven en las fotos coincidan con los del producto, ya que estos pueden
          variar dependiendo del monitor que el Usuario utilice. Para estar seguro de dichas especificaciones, es
          necesario que el Usuario lea las descripciones de cada producto. Carlos Castillo. puede publicar, modificar o
          descontinuar productos en cualquier momento e informará a los Usuarios oportunamente. El costo del transporte
          será de pleno conocimiento del Usuario cuando se esté realizando el proceso de compra, este valor varía
          dependiendo del lugar de origen, destino, peso y volumen del producto. El usuario asume el pago del transporte
          en el momento en que cancele el valor completo del producto. El Usuario será el responsable de los cargos de
          envío e impuestos que se generen, salvo especificación expresa en contrario por Carlos Castillo. III. MEDIOS
          DE
          PAGO: El pago de los productos se podrá realizar de forma electrónica (Tarjeta Crédito o Débito), a través del
          botón de pagos habilitado en la plataforma. Los pagos que se realicen con tarjeta de crédito están sujetos a
          aprobación por parte de la entidad emisora de ésta (el tiempo de aprobación depende de cada entidad) y
          cumplimiento de los parámetros de seguridad de la transacción definidos por Woow Commerce. Carlos Castillo. se
          reserva la facultad de rechazar la transacción cuando ésta no sea aprobada por la entidad emisora de la
          tarjeta
          de crédito y/o no cumpla con los parámetros de seguridad y prevención de fraudes definidos por Woow Commerce.
          Cuando el usuario realiza el pago, está expresando la aceptación de las condiciones de uso dadas por seedpay
          , dando lugar a la formación del contrato de compraventa por medio electrónico. Luego de realizar el
          pago,
          el usuario recibirá un correo electrónico con la información de la transacción. El usuario debe conservar la
          factura de compra ya que deberá presentarla en caso de realizar cualquier reclamación. El usuario es
          responsable
          y se obliga a notificar de manera oportuna a la entidad correspondiente del sector financiero o cooperativo,
          la
          pérdida o robo de su tarjeta de crédito y demás instrumentos facilitados por las mismas para realizar
          transacciones, tales como tarjetas débito, claves personales, etc., con el fin de que tales instrumentos sean
          inhabilitados. El valor a pagar por cada bien adquirido, será el precio vigente en El Sitio al momento de la
          compra. El Usuario deberá seleccionar cuál de los medios de pago establecidos en el numeral II quiere usar
          para
          efectuar el pago de la compra. El Sitio pone a disposición de los Usuarios un sistema de conexión segura para
          la
          realización de las transacciones que se efectúen en El Sitio. No obstante, en ningún caso será responsable por
          las fallas que se presenten en las comunicaciones de las entidades bancarias o de crédito, así como tampoco de
          los perjuicios causados al Usuario con ocasión de una acción u omisión por parte de dichas entidades por las
          referidas fallas. Adicionalmente, El Sitio, pone también a disposición de los Usuarios un enlace que comunica
          con las respectivas pasarelas de pago autorizadas por El Sitio. En estos casos, el manejo de la información
          personal será de responsabilidad exclusiva de la pasarela de pagos. Los Usuarios deberán aceptar los Términos
          y
          Condiciones de Uso de la pasarela de pago antes de realizar sus transacciones. Una vez el pago realizado sea
          verificado por El Sitio, si la compra efectuada y el pago cumplen con las condiciones, se procederá con la
          aceptación de la venta, pero El Sitio, tendrá la facultad de rechazar una oferta o aceptarla parcialmente, lo
          que podría pasar en el caso de que se agote el inventario o casos similares, esto cuando se presente un caso
          de
          fuerza mayor o caso fortuito ajeno a Carlos Castillo. , pero sin limitarse a esto; y por lo tanto sólo estará
          obligado a restituirle al Usuario, sin ningún tipo de interés o rendimiento, el valor cancelado por la oferta
          de
          compra no aceptada o el porcentaje correspondiente a la parte no aprobada de una oferta de compra aceptada
          parcialmente, esto únicamente en el caso de que se presentara una falta de inventario o casos similares por
          fuerza mayor o caso fortuito ajenos al El Sitio. IV. ENTREGA DEL PRODUCTO: Carlos Castillo. se comprometen a
          entregar los productos comprados en El Sitio en el territorio colombiano, más específicamente en los sitios
          donde la red de distribución del currier Saferbo tenga acceso, por lo tanto, Carlos Castillo. podrán negarse a
          la aprobación y despacho de una compra si el domicilio no está en los puntos de acceso del currier. Los
          productos en El Sitio Carlos Castillo. serán entregados en un plazo de 5-15 días hábiles, contados desde el
          momento en que se confirme la compra por parte de la pasarela de pagos. Carlos Castillo. se hacen responsable
          de
          entregar el pedido en la dirección suministrada por el Usuario. Se entiende que la persona que se encuentre en
          el domicilio está autorizada por el Usuario para recibirlo. De no ser posible realizarse la entrega se
          procederá
          con la devolución de los productos a sus bodegas y se procederá a realizar la devolución del monto de la
          compra.
          Carlos Castillo. no serán responsables frente a la pérdida o daños que puedan sufrir los productos una vez
          éstos
          hayan sido debidamente entregados en la dirección suministrada por el usuario y estarán exentos de
          responsabilidad siempre que pueda acreditar la entrega efectiva de los productos en la dirección suministrada
          por el Usuario. El Sitio realiza entregas únicamente dentro del territorio colombiano a los sectores y
          regiones
          a los que tenga acceso de acuerdo con su red, esto es a nivel nacional donde exista nomenclatura y por lo
          tanto
          podrá rechazar la aceptación de una oferta si el lugar de envío o el domicilio registrado por el Usuario no
          tiene cobertura por la red de El Sitio o no se encuentre dentro de las zonas geográficas habilitadas para el
          envío. En caso de que ocurra con lo anterior, se procederá con la devolución de los productos a sus bodegas y
          se
          procederá a realizar la devolución del monto de la compra. Quedará constancia de la entrega con la firma del
          Usuario en el certificado de entrega emitido por el courrier, Certipostal  V. AUTORIZACIÓN DE DATOS
          PERSONALES: El Usuario autoriza a Carlos Castillo., Pragma S.A, DDB Worldwide Colombia , B612 Mercadeo
          Relacional S.A.S y Saferbo, (o cualquier otra compañía que sea contratada para las mismas finalidades) (en
          adelante Responsables y Encargados) a tratar los datos personales que en desarrollo del uso de El Sitio
          (https://www.seedpay.com) se obtengan, con la finalidad de prestar un servicio integral para la gestión de
          pedidos: fines operativos, logísticos, facturación, correos directos, promociones, estrategias de inbound,
          retargeting, encuestas sobre temáticas afines a los productos y marca, estrategias de co creación con
          consumidores, direccionamiento de pauta, entre otros además enviar información de Carlos Castillo. Los datos
          personales que Los Usuarios suministren en este sitio web no podrán ser utilizados para fines distintos de los
          autorizados por el propio usuario. Los datos personales permanecerán en entornos operativos seguros no
          disponibles al público. Se le informa al Usuario que, como titular de los datos personales, le asisten los
          siguientes derechos:
          Conocer, actualizar y rectificar sus datos personales frente a Carlos Castillo, B612 Mercadeo Relacional S.A.S
          y
          el courrier, Saferbo.
          Solicitar prueba de la autorización otorgada a Carlos Castillo., B612 Mercadeo Relacional S.A.S y el courrier,
          Saferbo.
          Ser informado por Carlos Castillo., B612 Mercadeo Relacional S.A.S y el courrier Saferbo, previa solicitud,
          respecto del uso que le ha dado a sus datos personales.
          Previa queja o consulta ante Carlos Castillo., B612 Mercadeo Relacional S.A.S y el courrier, Saferbo presentar
          ante la Superintendencia de Industria y Comercio quejas por infracciones a la normatividad legal aplicable.
          Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los
          principios, derechos y garantías constitucionales y legales.
          Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
          Para consultas, reclamos o ampliar información te puedes comunicar a través de la línea de servicio al cliente
          seedpay 018000416001 y en www.seedpay.com en la sección contáctenos siempre que no se haya notificado
          oportunamente por parte del Usuario la existencia de la violación de su información personal, o cuando el
          Usuario no haya procedido a notificar a las correspondientes entidades financieras o cooperativas de la
          pérdida,
          uso indebido, sustracción o hurto de los instrumentos conferidos por éstas para realizar transacciones, o
          cuando
          se realice un uso indebido de sus datos de registro, El Sitio ni La Compañía asumen ninguna responsabilidad
          por
          tales acciones. VI. SEGURIDAD: Se han implementado los procedimientos electrónicos y administrativos para
          proteger y ayudar a prevenir el acceso no autorizado, evitar la pérdida, mal uso, alteración, acceso no
          autorizado y hurto de los datos personales. Este sitio de Carlos Castillo. usa “cookies” en la plataforma,
          para
          obtener información cuando su navegador Web tiene acceso a este Sitio. Una “cookies” es un identificador
          alfanumérico que, por medio de su navegador Web, nos permite recolectar ciertos datos, tales como páginas
          visitadas, tiempo de visita, etc. En la sección “de ayuda” de su navegador puede obtener información sobre
          cómo
          apagar las “cookies”. Nuestra recomendación es que las mantenga activadas pues ello le permitirá aprovechar
          algunas características y facilidades de nuestro Sitio. Además, las “cookies” nos ayudan a ajustar nuestro
          Sitio
          de acuerdo a sus necesidades, por ejemplo, para recordar ciertas elecciones y así hacer tu navegación más
          expedita. Si se desea desactivarlas, puede desactivar el uso de “cookies” dentro de su navegador o usar la
          navegación anónima de su navegador. El usuario será responsable de los daños y perjuicios que pueda causar un
          tercero por los usos indebidos de la página. Las políticas y condiciones de acceso y uso aquí establecidas y
          los
          conflictos que puedan surgir respecto de su interpretación, uso, alcance y terminación se rigen por la ley
          colombiana y se someten a los jueces y tribunales colombianos. VII. RESPONSABILIDAD LIMITADA: Sin perjuicio de
          lo consagrado en la legislación colombiana aplicable, Carlos Castillo. no asumen responsabilidad alguna, por
          daño o perjuicio derivado de la pérdida de información o utilidades, presencia de virus informáticos
          resultados
          del uso o la imposibilidad de usar el material de esta página web. VIII. POLÍTICA DE ATENCIÓN A PQRS
          (PETICIONES, QUEJAS Y RECLAMOS): Las peticiones, entendiéndose estas como solicitudes de información y/o
          consulta y para obtener pronta resolución de las mismas; serán resueltas, atendidas o contestadas dentro de
          los
          quince (15) días siguientes a la fecha de su presentación a través de los medios de comunicación establecidos
          como: línea de servicio al cliente seedpay 018000416001 y en www.seedpay.com en la sección contáctenos La
          información que debe presentarse es: Nombre del peticionario, documento de identidad, Número de pin de compra
          (Si aplica para el caso), e-mail, teléfono, indicar la fecha de la Petición, y demás observaciones pertinentes
          (como podrían ser: producto comprado (detalle y/o características), valor de la compra, fecha de recibido del
          producto). Las quejas son entendidas como una insatisfacción con el bien recibido, o a la atención prestada
          por
          El Sitio. El reclamo se refiere a la insatisfacción con la facturación, los medios de pago y demás temas
          asociados al pago del producto o cualquier otro reclamo relacionado al producto. Los reclamos serán resueltos,
          atendidos o contestados dentro de los quince (15) días hábiles siguientes a la fecha de su presentación. La
          información que debe presentarse es: Nombre del peticionario, documento de identidad, Número de pin de compra
          (Si aplica para el caso), e-mail, teléfono, indicar la fecha de la Petición, y demás observaciones pertinentes
          (como podrían ser: producto comprado (detalle y/o características), valor de la compra, fecha de recibido del
          producto). Todas las solicitudes serán resueltas, atendidas o contestadas dentro de los quince (15) días
          hábiles
          siguientes a la fecha de su presentación. IX. POLÍTICAS PARA LA GARANTÍA DE COMPRA: Si el producto adquirido a
          través de El Sitio presenta algún defecto de fabricación o problemas de calidad, el Usuario deberá comunicarse
          con la línea de servicio al cliente seedpay 018000416001 o en www.seedpay.com en la sección de contáctenos X.
          DERECHO DE RETRACTO: Para ejercer su derecho al retracto en El Sitio Carlos Castillo., el Usuario debe cumplir
          las siguientes condiciones:
          El plazo máximo para presentar la solicitud de retracto es de cinco (5) días calendario después de la entrega
          del producto.
          El Usuario deberá devolver el producto en las mismas condiciones en que lo recibió y no deberá reflejar
          señales
          de uso ni desgaste.
          Los costos de transporte y los demás que conlleve la devolución del producto serán cubiertos por el Usuario.
          Para gestionar el proceso de retracto el Usuario deberá comunicarse con la línea de servicio al cliente
          seedpay
          018000416001 o en www.seedpay.com en la sección de contáctenos. Cuando el Usuario entregue el producto a
          seedpay , este procederá a realizar la devolución del dinero. Este reembolso se realizará en un plazo no
          superior a 30 días hábiles contados a partir de la notificación por parte del Usuario de la devolución y
          dependerá del medio de pago utilizado por el Usuario. De acuerdo con la legislación vigente para las compras
          realizadas por comercio electrónico procede el derecho de retracto, para que éste proceda debe manifestarse
          que
          se hará ejercicio de él dentro de los 5 días hábiles siguientes al recibo del bien, el producto debe ser
          devuelto por los mismos medios y en el mismo estado en que sea recibido (esto es nuevo, con sus etiquetas y
          empaques en perfecto estado) y los costos de transporte y los demás que conlleve la devolución del bien deben
          ser cubiertos por el Usuario. Se exceptúan del derecho de retracto los bienes perecederos o de uso personal.
          XI.
          POLÍTICA PARA CONTINGENCIAS Y SOPORTE: Carlos Castillo. cuentan con un proceso para contingencias y soporte,
          en
          donde tendrán contacto permanente con los proveedores de servicio de El Sitio; en el sentido de informar las
          diferentes situaciones que pudieren presentarse durante la prestación del servicio y/o afectarlo con el fin de
          mitigar los riesgos de forma oportuna. Esto se refiere a contingencias relacionadas con eventos de la
          plataforma
          e-Commerce, eventos de la logística de transporte, eventos de orden Público, eventos de la Pasarela de pagos,
          entre otros. Para dar soporte a los Usuarios producto de los diferentes eventos que pudieren presentarse el
          Usuario cuenta con canales de comunicación vía correo electrónico o teléfono referenciado en los de El Sitio.
          XII. REVERSIÓN DEL PAGO: El Usuario podrá solicitar que se reverse el pago de un producto comprado si:
          el Usuario fue objeto de fraude,
          el pago corresponde a una operación no solicitada por el Usuario,
          el producto adquirido no fue recibido no corresponde al solicitado,
          no cumple con las características inherentes o
          el producto entregado se encuentre defectuoso.
          En caso que El Usuario haya solicitado la reversión del pago y se determine mala fe por parte de este, se
          cargará definitivamente la transacción reclamada al Usuario y la Superintendencia de Industria y Comercio
          podrá
          imponerle sanciones de hasta cincuenta (50) salarios mínimos mensuales legales vigentes. Para solicitar la
          reversión del pago, el Usuario deberá presentar una queja ante la Compañía dentro de los cinco (5) días
          hábiles
          siguientes a la fecha en que tuvo conocimiento del fraude, de la operación no solicitada o se presentó el
          inconveniente con el producto adquirido .Lo anterior deberá hacer a través los medios destinados en el portal
          para este fin debe comunicarse con la línea de servicio al cliente seedpay 018000416001 o en www.seedpay.com
          en
          la sección de contáctenos En caso que el Usuario que desee la reversión del pago no sea el mismo titular del
          instrumento de pago, la solicitud al emisor deberá ser presentada por el titular del producto financiero. En
          el
          mismo término de 5 días hábiles el Usuario deberá indicar a la Compañía que el bien objeto de reversión estará
          a
          su disposición en la dirección donde se hizo entrega el pedido, así el Usuario devolverá el producto y la
          Compañía deberá recogerlo, el producto objeto de reversión deberá estar en las mismas condiciones en que se
          recibió. Cuando el pago corresponda a varios productos, el Usuario podrá solicitar la reversión parcial del
          pago
          de aquellos respecto de los cuales realiza la solicitud, el Usuario en este caso deberá expresar de manera
          clara
          cuál es el producto y el valor por el cual solicita la reversión. Una vez presentada la queja ante la Compañía
          y
          la solicitud de reversión ante el emisor del instrumento de pago, estos contarán con un término de quince (15)
          días hábiles para hacer efectiva la reversión. XIII. PERFECCIONAMIENTO Y TRANSFERENCIA DE PROPIEDAD: Se
          entiende
          perfeccionado el contrato cuando El Sitio acepta la oferta de compra presentada por el Usuario. En los casos
          de
          aceptación parcial, se entiende perfeccionado el contrato únicamente para los bienes aceptados por El Sitio.
          XIV. MODIFICACIONES DEL ACUERDO: Carlos Castillo. podrá modificar los Términos y Condiciones Generales en
          cualquier momento, haciendo públicos en El Sitio los términos modificados. Todos los términos modificados
          entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la
          publicación de las modificaciones introducidas, el Usuario deberá contactarnos, si no acepta las mismas; en
          ese
          caso quedará disuelto el vínculo contractual y será inhabilitado como Miembro. Vencido este plazo, se
          considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes.
        </p>
      </div>

      <div *ngIf="!terminos_politicas" class="col-9 textterminospoliticas">
        <h1 class="font-primary">Autorización de tratamiento de datos personales</h1>
        <p>
          Por medio del presente documento, el usuario autoriza a Carlos Castillo y David Garrido a tratar los datos
          personales que se obtengan por medio del registro en la página www.seedpay.com, para las siguientes
          finalidades:

          Conservación de cuenta – Para crear y mantener su cuenta, incluyendo la administración de programas de lealtad
          o de incentivos que estén asociados con su cuenta, contenido exclusivo para clientes.
          Servicio al consumidor – Para proporcionarle servicio al consumidor, incluyendo respuestas a sus solicitudes,
          quejas y en general a retroalimentación sobre nuestros productos. El servicio al consumidor puede ser dado a
          través de varias formas de comunicación, incluyendo vía correo electrónico, carta, teléfono y chat en línea.
          Involucramiento de consumidor – Para hacer que usted esté involucrado más activamente con nuestros productos o
          Servicios. Esto puede implicar el uso o publicación de contenido generado por el consumidor.
          Personalización – Carlos Castillo., David Garrido y sus compañías filiales, puede combinar información
          personal obtenida de una fuente (ej. Un sitio web) con información obtenida de otra fuente (ej. Un evento
          presencial). Esto le permite a Carlos Castillo., David Garrido y sus compañías filiales, tener un
          panorama más completo de usted como consumidor, lo cual a su vez, le permite a Carlos Castillo, atenderlo
          mejor y de forma más personalizada, inclusive en relación a: Sitios web – Para mejorar y personalizar su
          experiencia en sitios web, usando datos tales como información de acceso a cuenta, información técnica del
          computador, y/o información sobre sitios web usados previamente.
          Productos – Para mejorar los productos Carlos Castillo., David Garrido y sus compañías filiales, podrá
          ajustarlos a sus necesidades y generar ideas para nuevos productos. Esto incluye el uso de información
          demográfica, información de perfil de consumidor y retroalimentación de consumidor.
          Publicidad basada en intereses – Para enviarle publicidad ajustada a sus intereses. Una forma en la que
          seedpay , David Garrido y sus compañías filiales hace esto es a través de emparejar la información o
          actividades obtenidas en los sitios Carlos Castillo. con la información de usted obtenida de sitios de
          terceros. (ej. Emparejamiento de datos). Este tipo de publicidad es también conocida como “publicidad de
          comportamiento en línea” o “publicidad personalizada”. Dicha personalización es típicamente llevada a cabo vía
          cookies o tecnologías similares.
          Comunicación de mercadeo – Para enviarle comunicaciones de mercadeo cuando usted haya aceptado recibir tales
          comunicaciones (incluyendo información sobre Carlos Castillo., David Garrido y sus compañías filiales.,
          sus productos y servicios, concursos y promociones). Esto puede ser compartido por medios electrónicos (Ej.
          SMS, correo electrónico y publicidad en línea) y vía post. Si usted acepta recibir SMS, la política de
          recepción de SMS de su proveedor de servicios móviles aplicara, lo que podrá tener cargos asociados.
          Funcionalidades sociales – Para ofrecerle a usted algunas características sociales, incluidas las siguientes:
          Funcionalidades de comunidad en los sitios web de Carlos Castillo: Cuando usted visita un sitio de seedpay
          S.A.S con funcionalidades de comunidad y carga o comparte recetas, fotos, videos, trabajos artísticos y otro
          contenido, Carlos Castillo podrá usar y mostrar la información personal que usted comparta en dichos sitios.
          Funcionalidades virales en sitio web. Carlos Castillo puede usar su información personal para ofrecer
          funcionalidades virales en las que usted puede compartir ciertas noticias, información de producto,
          promociones y otro contenido con familia y amigos. Esto típicamente requiere la obtención y uso de información
          personal de contacto (ej. Nombre y correo electrónico).
          Red social de terceros. Carlos Castillo puede usar datos en razón a interacciones que usted tenga con redes
          sociales de terceros tales como “Conectar con Facebook” o “Facebook like”. Estas funcionalidades pueden estar
          integradas en sitios de Carlos Castillo para propósitos que incluyen la realización de concursos y permitirle
          compartir contenido con sus amigos.
          Otros propósitos específicos. Carlos Castillo. puede usar su información personal para otros propósitos
          específicos de negocio, incluyendo la conservación de la operación diaria y seguridad de los sitios de
          seedpay , para la realización de estudios demográficos o auditorias, o para contactarle para
          investigaciones de consumidor.
          Manejo de relación con proveedores o clientes – Carlos Castillo., David Garrido y sus compañías filiales
          puede utilizar información personal en el marco de su relación con proveedores o clientes y para la
          realización de evaluaciones y selección de proveedores o clientes potenciales, así como para el procesamiento
          de transacciones y cumplimiento de normas fiscales, laborales, contables, etc. En general, Carlos Castillo.,
          David Garrido y sus compañías filiales puede utilizar su información para el desarrollo y cumplimiento
          de la relación comercial existente.
          Carlos Castillo., David Garrido y sus compañías filiales puede utilizar su información personal (1) Para
          fusión, adquisición o venta de la empresa, (2) para la concesión de operaciones del negocio, operación
          conjunta o cualesquiera otros eventos semejantes por parte de la empresa y/o de sus filiales, (3) para la
          comunicación con filiales, auditores, consultores, abogados externos, otros prestadores de servicios, u otras
          entidades semejantes, para fines de conformidad legal o reglamentaria
          Los datos personales suministrados no podrán ser utilizados para fines distintos de los autorizados por el
          propio usuario. Los datos personales permanecerán en entornos operativos seguros no disponibles al público.

          Se le informa al usuario que como titular de los datos personales, le asisten los siguientes derechos:

          Conocer, actualizar y rectificar sus datos personales frente a Responsables y Encargados;
          Solicitar prueba de la autorización otorgada a Responsables y Encargados;
          Ser informado por Responsables y Encargados, previa solicitud, respecto del uso que le ha dado a sus datos
          personales;
          Previa queja o consulta ante Responsables y Encargados, presentar ante la Superintendencia de Industria y
          Comercio quejas por infracciones a la normatividad legal aplicable;
          Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los
          principios, derechos y garantías constitucionales y legales.
          Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
          Para consultas, reclamos o ampliar información puede comunicarse directamente por medios de la página web
          www.seedpay.com en la sección de contáctenos o llamando a la línea de atención al consumidor 8000416001.
          El usuario podrá consultar la Política de Tratamiento de Datos Personales del David Garridoen
          https://www.seedpay.com.co/politicas/
          Cualquier cambio sustancial en las políticas de Tratamiento, se comunicará de forma oportuna a los titulares
          de los datos a través de los medios habituales de contacto y/o a través de:
          Página web www.seedpay.com
        </p>
      </div>
    </div>
  </div>

</section>
